@model DataLayer.ViewModels.EmployeeMonthlyReportViewModel
@{
    ViewBag.Title = "Employee Monthly Report";
    var employees = ViewData["Employees"] as SelectList;
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Employee Monthly Report</h2>
        <a class="btn btn-primary" asp-action="MultiReport">All Reports</a>
    </div>

    @* form *@
    @await Component.InvokeAsync("ReportSearch")

    <div class="card mt-4">
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Basic Salary</td>
                        <td>@Model.BasicSalary.ToString("C")</td>
                    </tr>
                    <tr>
                        <td>Hour Price</td>
                        <td>@Model.HourPrice?.ToString("C2")</td>
                    </tr>
                    <tr>
                        <td>Attended Days</td>
                        <td>@Model.AttendedDays</td>
                    </tr>
                    <tr>
                        <td>Absent Days</td>
                        <td>@Model.AbsentDays</td>
                    </tr>
                    <tr>
                        <td>Total Bonuses (Hours)</td>
                        <td>@Model.BonusesByHours</td>
                    </tr>
                    <tr>
                        <td>Total Bonuses (Money)</td>
                        <td>@Model.BonusesByMoney.ToString("C")</td>
                    </tr>
                    <tr>
                        <td>Total Deductions (Hours)</td>
                        <td>@Model.DeductionsByHours</td>
                    </tr>
                    <tr>
                        <td>Total Deductions (Money)</td>
                        <td>@Model.DeductionsByMoney.ToString("C")</td>
                    </tr>
                    <tr class="table-primary">
                        <td><strong>Net Salary</strong></td>
                        <td><strong>@Model.NetSalary.ToString("C2")</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>