@model IEnumerable<DataLayer.Entities.AttendanceTable>

@{
    ViewData["Title"] = "Attendance List";
}

<div class="container-fluid d-flex justify-content-between align-items-center">
    <h1>Attendance List</h1>
    <a class="btn btn-primary" asp-controller="Attendance" asp-action="Create" Text="Create">
        + Add Attendance
    </a>
</div>

<form method="get" asp-action="Index" class="mb-4">
    <div class="row align-items-center">

        <div class="col-md-3">
            <label for="employeeId" class="form-label">Select Employee</label>
            <select class="form-select" id="employeeId" name="employeeId">
                <option value="">All Employees</option>
                @foreach (var employee in (SelectList)ViewData["Employees"])
                {
                    <option value="@employee.Value">@employee.Text</option>
                }
            </select>
        </div>


        <div class="col-md-2">
            <label for="startDate" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="startDate" name="startDate">
        </div>


        <div class="col-md-2">
            <label for="endDate" class="form-label">End Date</label>
            <input type="date" class="form-control" id="endDate" name="endDate">
        </div>


        <div class="col-md-2" style="margin-top: 45px">
            <button type="submit" class="btn btn-primary w-100 d-flex align-items-center justify-content-center">
                <i class="ft-search me-2"></i> Search
            </button>
        </div>

    </div>
</form>




<table class="table table-striped table-bordered zero-configuration">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Day</th>
            <th>Attendance Time</th>
            <th>Departure Time</th>
            <th>Date</th>
            <th>Discount (hours)</th>
            <th>Bonus (hours)</th>
            <th>Employee Attendance Time</th>
            <th>Employee Departure Time</th>
            <th>Permission</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Employee.EmployeeName</td>
                <td>@item.Date.ToString("dddd")</td>
                <td>@item.AttendanceTime</td>
                <td>@item.DepartureTime</td>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.Discount</td>
                <td>@item.Bonus</td>
                <td>@item.Employee.AttendanceTime</td>
                <td>@item.Employee.DepartureTime</td>
                <td>@item.EarlyTime</td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@item.Id" data-name="@item.Employee.EmployeeName">
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />

@section Scripts {
    <script type="text/javascript">
        var deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var id = button.getAttribute('data-id');
            var name = button.getAttribute('data-name');
            var holidayName = deleteModal.querySelector('#holidayName');
            holidayName.textContent = name;

            var deleteButton = deleteModal.querySelector('#deleteButton');
            deleteButton.href = '@Url.Action("Delete", "Attendance")/' + id;
        });

        $(document).ready(function () {
            $('.table').DataTable({
                "order": [[4, "desc"]], 
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true
            });
        });
    </script>
}
